@using Aspire.Dashboard.Resources
@using Aspire.Dashboard.Utils

@if (_waitingResources.Count == 0)
{
    <FluentHighlighter HighlightedText="@HighlightText" Text="@Value" />
}
else
{
    <FluentHighlighter HighlightedText="@HighlightText" Text="@_prefix" />
    @for (var index = 0; index < _waitingResources.Count; index++)
    {
        var waitingResource = _waitingResources[index];

        if (index > 0)
        {
            <span>, </span>
        }

        if (waitingResource.Resource is { } resource)
        {
            <FluentAnchor Href="@DashboardUrls.ResourcesUrl(resource: resource.Name)" Appearance="Appearance.Hypertext">
                <FluentHighlighter HighlightedText="@HighlightText" Text="@waitingResource.DisplayName" />
            </FluentAnchor>
        }
        else
        {
            <FluentHighlighter HighlightedText="@HighlightText" Text="@waitingResource.DisplayName" />
        }
    }
    <FluentHighlighter HighlightedText="@HighlightText" Text="@_suffix" />
}

@if (StartCommand is not null)
{
    <span> </span>
    <button type="button"
            class="state-description-action"
            disabled="@IsStartCommandDisabled"
            @onclick="OnStartCommandAsync"
            title="@StartCommandTitle">
        <FluentIcon Value="@(new Icons.Filled.Size16.Play())" Width="0.8em" Class="state-description-action-icon" />
        <FluentHighlighter HighlightedText="@HighlightText" Text="@ControlsLoc[nameof(ControlsStrings.ResourceStateDescriptionStartNowAction)]" />
    </button>
}
